body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", "Noto Sans SC", sans-serif;
}

::-webkit-scrollbar {
  width: 12px !important;
  height: 12px !important;
  cursor: pointer !important;
}

::-webkit-scrollbar-thumb {
  height: 50px !important;
  border: 2px solid var(--wiki-scroll-white) !important;
  border-radius: 6px !important;
  outline: 2px solid var(--wiki-scroll-white) !important;
  outline-offset: -2px !important;
  background-color: var(--wiki-scroll-gray) !important;
}

::-webkit-scrollbar-track-piece {
  border-radius: 0 !important;
  background-color: var(--wiki-scroll-white) !important;
}

p {
  text-align: justify;
  text-indent: 2em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.nuxt-content h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.nuxt-content h3 {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.nuxt-content p,
.nuxt-content ul {
  font-weight: 400;
  font-size: 1rem;
  color: var(--wiki-content-black);
}

.nuxt-content > h2 > a ::before {
  content: "# ";
}

.nuxt-content > h3 > a ::before {
  content: "# ";
}

@media only screen and (min-width: 500px) {
  .nuxt-content {
    width: 100%;
  }

  .wiki-main > .wiki-picture {
    width: 30%;
  }

  .nuxt-content h2,
  .nuxt-content h3 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3.5rem;
    border-bottom: 2px solid var(--wiki-border-gray);
    padding-bottom: 1rem;
  }

  .nuxt-content p {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .nuxt-content img {
    width: 100%;
  }

  .nuxt-content > .wiki-picture {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .nuxt-content hr {
    display: none;
  }

  .footnotes {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .footnote-ref {
    font-weight: 500;
  }

  .footnote-ref::before {
    content: "[";
  }

  .footnote-ref::after {
    content: "]";
  }

  .footnotes > hr {
    display: none;
  }

  .footnotes > ol {
    padding-left: 1rem;
  }

  .footnotes > ol > li::marker {
    font-weight: 700;
  }

  .footnote-backref::before {
    content: " ";
  }

  .footnote-backref {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .nuxt-content h2,
  .nuxt-content h3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .nuxt-content p {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .nuxt-content img {
    width: 100%;
  }

  .nuxt-content hr {
    width: 100%;
    height: 0.7rem;
    background-color: var(--wiki-footer-light-gray);
    border: 0;
  }

  .footnotes {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .footnote-ref {
    font-weight: 500;
  }

  .footnote-ref::before {
    content: "[";
  }

  .footnote-ref::after {
    content: "]";
  }

  .footnotes > hr {
    display: none;
  }

  .footnotes > ol {
    padding-left: 1rem;
  }

  .footnotes > ol > li::marker {
    font-weight: 700;
  }

  .footnote-backref::before {
    content: " ";
  }

  .footnote-backref {
    display: none;
  }
}

.cool-lightbox-caption p {
  text-align: center !important;
}
