@import "@/assets/css/variables.scss";

@mixin wiki-input-icon($background-color) {
  $icon-width: 1.5rem;
  $icon-padding-left: 0.8rem;
  $input-padding-left: calc($icon-width + $icon-padding-left);
  background: $background-color
    url("data:image/svg+xml;charset=utf-8, <svg height='16' width='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path d='m11.5 7a4.499 4.499 0 1 1 -8.998 0 4.499 4.499 0 0 1 8.998 0zm-.82 4.74a6 6 0 1 1 1.06-1.06l3.04 3.04a.75.75 0 1 1 -1.06 1.06z' fill='%236a737d' fill-rule='evenodd'/></svg>")
    no-repeat $icon-width;
  background-position-x: $icon-padding-left;
  padding-left: $input-padding-left;
}
